body {
    margin: 0;
    background: #00021d;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background:#00021dd6;
    padding: 1rem 0;
}
form {
    margin: 3rem;
}
label {
    color: #fff;
    font-family: impact;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    text-shadow: 0 0 0.1rem black;
}
#btnsContainer, #gifContainer, form {
    text-align: center;
}
#gifContainer {
    margin-top: 23rem;
}
#gifContainer div {
    display: inline-block;
}
p {
    text-align: center;
    margin: 0 .1rem 1rem .2rem;
    border: 2px dotted #646575;
    font-family: monospace;
    font-size: 1.25rem;
	color: #fff;
	padding: .2rem;
}
img {
    border: 1px solid #fff;
}
#artistInput {
	margin: 2rem;
	font-size: 1.5rem;
    font-family: monospace;
    padding: .5rem;
    width: 25%;
}
.artist {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:monospace;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.artist:hover {
	background-color:#eb675e;
}
.artist:active {
	position:relative;
	top:1px;
}
#addArtist {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:monospace;
	font-size:1.5rem;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
#addArtist:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
#addArtist:active {
	position:relative;
	top:1px;
}
@media (max-width: 1100px) {
	#gifContainer {
		margin-top: 25rem;
	}
}
@media (max-width: 750px ) {
	#gifContainer {
		margin-top: 28rem;
	}
	#artistInput {
		width: 65%;
	}
	.gifImages {
		width: 95%;
	}
	.artist {
		font-size: 1.25rem;
		padding: .25rem .62rem;
	}
	form {
		margin: 1.5rem;
	}
}